.bd-navbar {
  min-height: 4rem;
  background-color: #fff !important;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
  box-sizing: border-box;
}

.nav-item a {
  color: #626262 !important;
  transition: color .3s;
  padding: 10px 15px;
  line-height: 1.2;
  cursor: pointer;
  text-decoration: none;
}

.nav-item a:hover {
  color: tomato !important;
}

.nav-item:not(:last-child) {
  margin-right: 5px;
}
