<div class="row mt-2">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card x">
      <div class="card-body">
        <h5 class="card-title">Restaurant List</h5>
        <hr>
        <ag-grid-angular #agGrid
        class="ag-theme-material" 
        style="height: 400px;width: 100%;" 
        (gridReady)="onGridReady($event)"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [animateRows]="true"
        [pagination]="true"
        [rowSelection]="rowSelection"
        [enableRangeSelection]="true"
        [paginationNumberFormatter]="paginationNumberFormatter">
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
